<form [formGroup]="userForm" class="grid p-4 gap-4">
  <ng-container formGroupName="generalInformations">
    <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-4">
      <mat-form-field class="w-full">
        <mat-label>Nome:</mat-label>
        <input matInput placeholder="Heitor" formControlName="name" />
                <mat-error>O Nome é obrigatório.</mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Email:</mat-label>
        <input
          matInput
          placeholder="heitor@gmail.com"
          formControlName="email"
        />
        <mat-error *ngIf="emailControl.hasError('required')">O Email é obrigatório.</mat-error>
                <mat-error *ngIf="emailControl.hasError('pattern')">O Email é inválido.</mat-error>
      </mat-form-field>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 gap-4">
      <mat-form-field class="w-full">
        <mat-label>País:</mat-label>
        <input
          type="text"
          placeholder="Selecione"
          matInput
          [matAutocomplete]="autoCountry"
          formControlName="country"
        />
        <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="onCountrySelected($event)">
          <mat-option *ngFor="let country of countriesListFiltered" [value]="country.name">{{ country.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Estado:</mat-label>
        <input
          type="text"
          placeholder="Selecione um Estado"
          matInput
          [matAutocomplete]="autoState"
          formControlName="state"
        />
        <mat-autocomplete #autoState="matAutocomplete" (optionSelected)="onStatesSelected($event)">
          <mat-option *ngFor="let state of statesListFiltered" [value]="state.name">{{ state.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-3 gap-4">
      <div class="w-full">
        <div class="text-lg">Estado Cívil:</div>
        <mat-radio-group
          class="flex flex-col gap-1 lg:flex-row md:flex-row sm:flex-row sm:justify-between" formControlName="maritalStatus" >
          <mat-radio-button *ngFor="let maritalStatusObj of maritalStatusArray" 
          [value]="maritalStatusObj.code">
          {{maritalStatusObj.description}}
        </mat-radio-button>
          
        </mat-radio-group>
      </div>

      <mat-form-field class="w-full pt-5">
        <mat-label>Renda Mensal:</mat-label>
        <input matInput placeholder="R$ 5000,00" formControlName="monthlyIncome" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data de Nascimento:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate"/>
        <mat-hint>DD/MM/AAAA</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </ng-container>
</form>
