<div class="p-4">
    <div class="flex gap-4 justify-end">
        <button 
        class="rounded-md px-3 pxy-2 text-lg font-medium text-white bg-indigo-600 hover:bg-indigo-500 transition ease-in-out"
        (click)="onEditButton()"
        *ngIf="!isInEditMode">Editar</button>
        <button
         class="rounded-md px-3 pxy-2 text-lg font-medium text-white bg-red-700 hover:bg-red-500 transition ease-in-out"
         (click)="onCancelButton()"
         *ngIf="isInEditMode">Cancelar</button>
        <button class="rounded-md px-3 pxy-2 text-lg font-medium text-white bg-green-700 hover:bg-green-500 transition ease-in-out"
        *ngIf="isInEditMode">Salvar</button>
    </div>
</div>