<div class="p-4">
    <div class="p-4 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
        <div>
            <p class="text-xl text-semibold">Nome:</p>
        </div>
          <div>
            <p class="text-xl text-semibold">Email:</p>
        </div>
   
    </div>
    <div class="p-4 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4">
        <div>
            <p class="text-xl text-semibold">País:</p>
        </div>
         <div>
            <p class="text-xl text-semibold">Estado:</p>
        </div>
    </div>
    <div class="p-4 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
        <div>
            <p class="text-xl text-semibold">Estado Cívil:</p>
        </div>
        <div>
            <p class="text-xl text-semibold">Renda Mensal:</p>
        </div>
         <div>
            <p class="text-xl text-semibold">Data de Nascimento:</p>
        </div>
    </div>
</div>