<div class="p-4 bg-indigo-100 max-w-screen-xl mx-auto">
  <div class="p-5 rounded-xl bg-white">
    <div>
      <app-users-list [userList]="usersList" (onUserSelected)="onUserSelected($event)"></app-users-list>

      <app-buttons-container
      *ngIf="userSelectedIndex !== undefined"
      [isInEditMode]="isInEditMode"
      (onEditButton)="onEditButton()"
      (onCancelButton)="onCancelButton()" > </app-buttons-container>

      <app-user-infomations-container 
      *ngIf="userSelectedIndex !== undefined"
      [isInEditMode]="isInEditMode"
       [userSelected]="userSelected"  ></app-user-infomations-container>
      
    </div>
  </div>
</div>


